@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sumana:wght@400;700&display=swap');

.page {
  min-height: 100vh;
  width: 100vw;
  background:
    linear-gradient(170deg,
      #ffefef 0%,
      #f0e6ff 40%,
      rgba(255, 255, 255, 0) 100%) no-repeat
      #fff;
  background-size: 100% 50%;
  background-position: top;
  font-family: "Outfit", serif;
  display: flex;
  flex-direction: column;
}

.horseChariot {
  position: absolute;
  width: 100vw;
  height: 90vh;
  top: 1rem;
  left: 0;
  z-index: 0;
}

@media screen and (min-width: 480px) {
  .horseChariot {
    display: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  padding-bottom: 6rem;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 4rem;
    gap: 1rem;
    margin: 1.6rem;
    margin-bottom: 6rem;
    padding: 1.6rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    color: #494949;
    background-color: #fff;
    width: 90%;
    z-index: 1;
    border-radius: 0.8rem;
    min-height: fit-content;
    max-height: calc(100vh - 16rem);
    overflow-y: auto;

    .verseNumber {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.875rem;
      line-height: 1.375rem;
      letter-spacing: 0.26em;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    .sanskrit {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Sumana", serif;
      font-size: 1.275rem;
      font-weight: 400;
      line-height: 1.625rem;
      color: #333333;
      text-align: center;
      width: 100%;
      padding: 0 1rem;

      div {
        white-space: wrap;
        width: fit-content;
        max-width: 100%;
        text-align: center;
        padding: 0.2rem 0;
      }
    }

    .english {
      font-size: 1.125rem;
      font-weight: 400;
      text-align: center;
      line-height: 1.375rem;
      color: #333333;
    }

    .hindi {
      font-size: 1.125rem;
      font-weight: 400;
      text-align: center;
      line-height: 1.375rem;
      color: #333333;
    }

    .englishT {
      text-align: left;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.375rem;
      margin-left: 0.875rem;
      margin-right: 0.875rem;
      color: #333333;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background: #F0F0F04D 60%;
  height: 5.4rem;
  backdrop-filter: blur(58.7px);

  .logo {
    margin: 1.6rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin: 1.6rem;
    gap: 0.5rem;
  }

  .contact-mail {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #494949;
  }
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
